@{
    Layout = "~/Views/Shared/_Inscricoes.cshtml";
}

<div style=" display: flex; flex-direction: column; width: 100vw; height: 100vh;">
    <div class="middle-box inscricoes animated fadeInDown " style="display:flex">
        <div style="margin:auto;width:95%">
            @if (ViewBag.Configuracao.LogoId != null)
            {
                <div class="row justify-content-center">
                    <div class="col col-6" style="display:flex">
                        <img style="max-width:100%;max-height:200px;margin:auto" alt="@ViewBag.Configuracao.Titulo" src="data:image/png;base64,@ViewBag.Configuracao.Logo" />
                    </div>

                </div>
            }
            <div class="row justify-content-center">
                <div class="col col-12">
                    <div class="p-h-xs m-b-lg" id="form-inscricao">
                        <div class="form-group">
                            <label for="participante-fone" class="text-white">Fone </label>
                            <input type="text" class="form-control fone" id="participante-fone" data-field="Fone do Participante" />
                        </div>
                        <div class="pnl-cadastro">

                            <div class="form-group">
                                <label for="participante-nome" class="text-white">Nome Completo</label>
                                <input type="text" class="form-control required" id="participante-nome" data-field="Nome" />
                            </div>
                            <div class="form-group">
                                <label for="participante-apelido" class="text-white">Como você gostaria que seu crachá fosse Impresso?</label>
                                <input type="text" class="form-control required" id="participante-apelido" data-field="Apelido" />
                            </div>
                            <div class="form-group">
                                <label for="participante-sexo" class="text-white block">Sexo</label>
                                <div class="radio i-checks-brown inline"><label class="text-white"> <input type="radio" id="sexo-masculino" checked="" value="1" name="participante-sexo"> <i></i> Masculino </label></div>
                                <div class="radio i-checks-brown inline p-l-xs"><label class="text-white"> <input type="radio" id="sexo-feminino" value="2" name="participante-sexo"> <i></i> Feminino </label></div>
                            </div>
                            <div class="form-group">
                                <label for="participante-data-nascimento" class="text-white">Data de Nascimento</label>
                                <input type="text" class="form-control full-date required" id="participante-data-nascimento" data-field="Data de Nascimento" />
                            </div>

                            <div class="form-group">
                                <label for="participante-hasmedicacao" class="text-white block">Toma alguma medicação?</label>
                                <div class="radio i-checks-brown inline"><label class="text-white"> <input type="radio" id="has-medicacao" value="true" name="participante-hasmedicacao"> <i></i> Sim </label></div>
                                <div class="radio i-checks-brown inline p-l-xs"><label class="text-white"> <input type="radio" id="not-medicacao" checked="" value="false" name="participante-hasmedicacao"> <i></i> Não </label></div>
                            </div>
                            <div class="form-group medicacao d-none">
                                <label for="participante-medicacao" class="text-white">Qual?</label>
                                <input type="text" class="form-control" id="participante-medicacao" data-field="Medicação" />
                            </div>
                            <div class="form-group">
                                <label for="participante-hasalergia" class="text-white block">Tem alguma alergia?</label>
                                <div class="radio i-checks-brown inline"><label class="text-white"> <input type="radio" id="has-alergia" value="true" name="participante-hasalergia"> <i></i> Sim </label></div>
                                <div class="radio i-checks-brown inline p-l-xs"><label class="text-white"> <input type="radio" id="not-alergia" checked="" value="false" name="participante-hasalergia"> <i></i> Não </label></div>
                            </div>
                            <div class="form-group alergia d-none">
                                <label for="participante-alergia" class="text-white">Qual?</label>
                                <input type="text" class="form-control" id="participante-alergia" data-field="Alergia" />
                            </div>
                            <div class="form-group">
                                <label for="participante-hasrestricaoalimentar" class="text-white block">Tem alguma restrição alimentar?</label>
                                <div class="radio i-checks-brown inline"><label class="text-white"> <input type="radio" id="has-restricaoalimentar" value="true" name="participante-hasrestricaoalimentar"> <i></i> Sim </label></div>
                                <div class="radio i-checks-brown inline p-l-xs"><label class="text-white"> <input type="radio" id="not-restricaoalimentar" checked="" value="false" name="participante-hasrestricaoalimentar"> <i></i> Não </label></div>
                            </div>
                            <div class="form-group restricaoalimentar d-none">
                                <label for="participante-restricaoalimentar" class="text-white">Qual?</label>
                                <input type="text" class="form-control" id="participante-restricaoalimentar" data-field="Restrição Alimentar" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div style="margin-bottom:auto">

        <button type="button" class="btn btn-rounded btn-float btn-juventude pnl-verifica" onclick="VerificaCadastro()">Seguinte</button>

        <button type="button" class="btn btn-rounded btn-float btn-juventude pnl-cadastro" style="height: 60px; width: 60px; margin-top: -30px;" onclick="PostInscricao()"><i class="fa fa-2x fa-paper-plane m-r-sm"></i></button>
    </div>
</div>

@section scripts {
    <script>


        function VerificaCadastro() {
            $.ajax({
                url: "/Equipante/VerificaCadastro",
                datatype: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    Fone: $(`#participante-fone`).val()
                }),
                success: function (url) {
                    if (url) {
                        window.location.href = url;
                    } else {
                        $("#participante-fone").prop("disabled", true)
                        $(".pnl-cadastro").show();
                        $(".pnl-verifica").hide();
                        $('.inscricoes.middle-box').height('80%');
                        $('.float').css("bottom", "40px")
                    }
                }
            })
        }

        function PostInscricao() {
            if (ValidateForm(`#form-inscricao`)) {
                $.ajax({
                    url: "/Equipante/PostEquipante/",
                    datatype: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(
                        {
                            Nome: $(`#participante-nome`).val(),
                            Apelido: $(`#participante-apelido`).val(),
                            DataNascimento: moment($("#participante-data-nascimento").val(), 'DD/MM/YYYY', 'pt-br').toJSON(),
                            Email: $(`#participante-email`).val(),
                            Fone: $(`#participante-fone`).val(),
                            HasRestricaoAlimentar: $("input[type=radio][name=participante-hasrestricaoalimentar]:checked").val(),
                            RestricaoAlimentar: $(`#participante-restricaoalimentar`).val(),
                            HasMedicacao: $("input[type=radio][name=participante-hasmedicacao]:checked").val(),
                            Medicacao: $(`#participante-medicacao`).val(),
                            HasAlergia: $("input[type=radio][name=participante-hasalergia]:checked").val(),
                            Alergia: $(`#participante-alergia`).val(),
                            Inscricao: true,
                            Sexo: $("input[type=radio][name=participante-sexo]:checked").val(),
                        }),
                    success: function (url) {
                        window.location.href = url;
                    }
                });
            }
        }

        $('#trindade').on('ifChecked', function (event) {
            $('.congregacao').addClass('d-none');
            $("#participante-congregacaodescricao").removeClass('required');
        });

        $('#recon').on('ifChecked', function (event) {
            $('.congregacao').addClass('d-none');
            $("#participante-congregacaodescricao").removeClass('required');
        });

        $('#outra').on('ifChecked', function (event) {
            $('.congregacao').removeClass('d-none');
            $("#participante-congregacaodescricao").addClass('required');
        });


        $('#has-medicacao').on('ifChecked', function (event) {
            $('.medicacao').removeClass('d-none');
            $("#participante-medicacao").addClass('required');
        });

        $('#has-parente').on('ifChecked', function (event) {
            $('.parente').removeClass('d-none');
            $("#participante-parente").addClass('required');
        });

        $('#not-parente').on('ifChecked', function (event) {
            $('.parente').addClass('d-none');
            $("#participante-parente").removeClass('required');
        });

        $('#not-medicacao').on('ifChecked', function (event) {
            $('.medicacao').addClass('d-none');
            $("#participante-medicacao").removeClass('required');
        });

        $('#has-alergia').on('ifChecked', function (event) {
            $('.alergia').removeClass('d-none');
            $("#participante-alergia").addClass('required');
        });

        $('#not-alergia').on('ifChecked', function (event) {
            $('.alergia').addClass('d-none');
            $("#participante-alergia").removeClass('required');
        });

        $('#has-restricaoalimentar').on('ifChecked', function (event) {
            $('.restricaoalimentar').removeClass('d-none');
            $("#participante-restricaoalimentar").addClass('required');
        });

        $('#not-restricaoalimentar').on('ifChecked', function (event) {
            $('.restricaoalimentar').addClass('d-none');
            $("#participante-restricaoalimentar").removeClass('required');
        });
        $(".pnl-cadastro").hide();
        $('.inscricoes.middle-box').height('40%');
        $('.float').css("bottom", "25%")
    </script>

}