@{
    Layout = "~/Views/Shared/_Inscricoes.cshtml";
}

<style>
    body, h1, h2, h3, h4, h5, h6, span, p {
        text-align: center !important;
    }
</style>
<div class="icon-check-evento" style="position: absolute; z-index: 1000; left: 50%; height: 82px; padding: 13px; border-radius: 50%; top: 90px; left: 50%; transform: translateX(-50%);">
    <i class="fas fa-check" style="color:#fff;font-size:60px"></i>
</div>
<div class="middle-box inscricoes animated fadeInDown " style="display:flex;margin-top:60px;position:relative;border-radius:12px !important;padding-bottom:40px">

    @if (!String.IsNullOrEmpty(ViewBag.MsgConclusao))
    {
        <iframe style="border:0; width:100%" onload="this.style.height=(this.contentWindow.document.body.scrollHeight+20)+'px';" srcdoc="<div style='padding-right:20px;padding-bottom:40px' class='note-editor note-frame'><div class='note-editing-area'><div class='note-editable'>@Html.Raw(ViewBag.MsgConclusao.Replace("\"", "'"))</div></div></div><style>.note-editor.note-airframe .note-editing-area .note-editable, .note-editor.note-frame .note-editing-area .note-editable { padding-right: 20px; } .note-editor.note-airframe, .note-editor.note-frame { border: 0 !important;} body {margin:0; font-family: ' open sans', 'Helvetica Neue' , Helvetica, Arial, sans-serif !important;} .note-editor {height: auto !important;}.note-editor.fullscreen {z-index: 2050;}.note-editor.note-frame.fullscreen {z-index: 2020;}.note-editor.note-frame .note-editing-area .note-editable {color: #676a6c;padding: 15px;}.note-editor.note-frame {border: none;}.note-editor.panel {margin-bottom: 0;} .note-editable div { max-width: 100% !important; } </style><link href='https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css' rel='stylesheet'>"></iframe>
    }

    @if (!string.IsNullOrEmpty(ViewBag.Configuracao.PublicTokenMercadoPago))
    {
        <div id="wallet_container"></div>
    }

</div>

@section Scripts {

    @if (ViewBag.Configuracao.PublicTokenMercadoPago != null)
    {
        <script>
        const mp = new MercadoPago("@ViewBag.Configuracao.PublicTokenMercadoPago");

        window.onload = function () {
            mp.bricks().create("wallet", "wallet_container", {
                initialization: {
                    preferenceId: "@ViewBag.MercadoPagoPreferenceId",
                },
            });

        }



        </script>
    }


}
