@{
    Layout = "~/Views/Shared/_Inscricoes.cshtml";
}


<style>
    body, h1, h2, h3, h4, h5, h6, span, p {
        text-align: center !important;
    }
</style>
<div class="middle-box inscricoes animated fadeInDown " style="display:flex;margin-top:60px;position:relative;border-radius:12px !important;padding-bottom:40px">
    <div class="row" style="margin:auto">

        <div class="row justify-content-center m-l-lg m-r-lg m-t-lg m-b-sm text-center">
            <h4>As inscrições para o @ViewBag.Configuracao.Titulo estão encerradas</h4>

        </div>
    </div>
</div>