@{
    Layout = "~/Views/Shared/_Inscricoes.cshtml";
}

<div class="middle-box inscricoes animated fadeInDown " style="display:flex;height:550px;margin:auto">
    <div class="row" style="margin:auto">
        <div class="col-sm-12">
            <div class="row justify-content-center m-l-lg m-r-lg m-t-lg m-b-sm text-center">
                <h3>"@ViewBag.Participante.Apelido"</h3>
                <h4>Te adicionamos na nossa lista de espera, pois no momento nos encontramos sem vagas</h4>
                <h4>Se chegar a sua vez entraremos em contato contigo o quanto antes</h4>
                <h4>Obrigado por se inscrever no @ViewBag.Participante.Evento!</h4>
            </div>
        </div>
       

    </div>
</div>
