<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2 class="title-circulo">@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home/Index">Home</a>
            </li>
            <li class="breadcrumb-item active">
                <strong class="title-circulo">@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox">
        <div class="ibox-title" style="display: flex;justify-content: space-between;">
            <h4 class="title-circulo">@ViewBag.Title</h4>
            <div class="ibox-tools pull-right">
                @Html.Partial("~/Views/Componentes/SelectEvento.cshtml", new SysIgreja.ViewModels.SelectViewModel { Id = "eventoid", OnChange = "loadCirculo", Roles = "Financeiro,Administrativo,Admin" })
                <button class="btn btn-danger" id="btn_Adicionar" onclick="EsvaziarTodosCirculo()">Esvaziar</button>
                <button class="btn btn-primary" id="btn_Adicionar" onclick="DistribuirCirculos()">Distribuir</button>
                <button class="btn btn-default" id="btn_Adicionar" onclick="EditCirculo(0)">Adicionar</button>
                <button class="btn btn-default" id="btn_Adicionar" onclick="PrintAll()">Imprimir Tudo</button>
            </div>
        </div>
        <div class="ibox-content">
            <table id="table-circulo" class="table table-striped table-bordered table-hover" cellspacing="0" style="width: 100%">
                <thead>
                    <tr id="circulo-cabecalho">
                        <th class="title-circulo">Círculo</th>
                        <th>Membros </th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="ibox" id="ibox-mapa-circulo" style="margin-top:25px;">
            <div class="ibox-title" style="display: flex;justify-content: space-between;">
                <h4>Mapa</h4>
                <div class="ibox-tools pull-right">
                    <select placeholder="Filtrar Bairros" class="form-control" id="bairros" multiple onchange="filtrarBairro()">
                    </select>
                    <input placeholder="Filtro por Nome" class="form-control" id="filtro-nome" onkeyup="filtrarNome()" />
                </div>
            </div>
            <div class="ibox-content" style="height:650px">

                <div class="col-sm-12 p-w-md m-t-md text-center div-map" style="display: none">
                    <div id="map" style="height:600px;">
                    </div>
                </div>

            </div>
        </div>
        <div class="ibox">
            <div class="ibox-title" style="display: flex;justify-content: space-between;">
                <h4>Gerenciar <span class="title-circulo">Círculos</span></h4>
            </div>
            <div class="ibox-content">
                <div class="row p-m">
                    <div id="list" class="col-xs-12 col-lg-3 sem-circulo pg droppable text-center">

                    </div>
                    <div class="col-xs-12 col-lg-9">
                        <div id="circulos" class="draggable-panel-container">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="modal-dirigentes" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <h5 class="modal-title">Dirigentes</h5>
            </div>
            <div class="modal-body">
                <div class="moldura-modal p-h-xs">
                    <div class="row p-h-xs">
                        <input type="hidden" id="equipe-id" />
                        <div class="col-sm-12 p-w-md m-b-sm">
                            <h5>Adicionar Dirigente</h5>
                            <select class="form-control chosen-select" id="circulo-dirigentes" onchange="AddDirigente()"></select>
                        </div>
                        <div class="col-sm-12 p-md">
                            <table id="table-dirigentes" class="table table-striped table-bordered table-hover" cellspacing="0" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white pull-right m-l-sm" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal inmodal" id="modal-circulo" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <h5 class="modal-title titulo-circulo"></h5>
            </div>
            <div class="modal-body">
                <div class="moldura-modal p-h-xs">
                    <div class="row p-h-xs">
                        <input type="hidden" id="circulo-id" />
                        <div class="col-sm-6 p-w-md m-b-sm">
                            <h5>Título</h5>

                            <input type="text" class="form-control required" id="circulo-titulo" data-field="Título" />
                        </div>
                        <div class="col-sm-6 p-w-md m-b-sm">
                            <h5>Cor</h5>
                            <input type="color" style="padding:0" class="form-control" id="circulo-cores" name="color" pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" value="#bada55" data-field="Cor">
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white pull-right m-l-sm" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-white pull-right" onclick="PostCirculo()">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <style>

        #ibox-mapa-circulo .ibox-tools {
            display: flex;
            gap: 5px;
        }
    </style>
}

@section Scripts {


    <script src="~/Scripts/app/Circulo/circulo.js"></script>
    <script type="text/babel" src="~/Scripts/app/Componentes/DraggablePanel.jsx"></script>
    <script type="text/babel" src="~/Scripts/app/Componentes/FilterableList.jsx"></script>
    <script type="text/babel" src="~/Scripts/app/Componentes/ProfileCard.jsx"></script>

    <script>

    </script>

}

