/*GERAL*/

h2:after {
    content: "";
    display: block;
    clear: both
}

.background-evento {
    background: #07090b94 no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/*::-webkit-scrollbar-thumb {
    background: #17455efa;
    
}*/

/*    ::-webkit-scrollbar-thumb:hover {
        background: #142a36fa;
    }*/

/*LOGIN*/

.loginscreen.middle-box {
    background-color: #07090b94;
    height: 350px;
    width: 400px !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 20px 20px 0px 20px;
}

/*INSCRICOES*/

@media only screen and (min-width: 300px) {
    .inscricoes.middle-box {
        width: 100%;
    }
}

@media only screen and (min-width: 500px) {
    .inscricoes.middle-box {
        width: 80%;
    }
}

@media only screen and (min-width: 700px) {
    .inscricoes.middle-box {
        width: 70%;
    }
}

@media only screen and (min-width: 1000px) {
    .inscricoes.middle-box {
        width: 50%;
    }
}

@media only screen and (min-width: 1200px) {
    .inscricoes.middle-box {
        width: 40%;
    }
}

@media only screen and (min-width: 1200px) {
    .inscricoes.middle-box {
        width: 30%;
    }
}

.inscricoes.middle-box {
    background-color: #07090b94;
    height: 80%;
    max-height: 80%;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    padding: 20px 20px 0px 20px;
}

.btn-float {
    left: 50%;
    transform: translateX(-50%);
    position:absolute;
    z-index: 101;
    margin-top: -20px;
    text-align: center;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.6);
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    color: #FFF;
    text-align: center;
    z-index: 100;
}

.print-button {
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 49%;
    z-index: 10;
    margin-bottom: -30px;
    text-align: center;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.6);
    color: #7d7e7f !important;
}

/*MODAL*/
.modal-body h5 {
    font-weight: 400;
}

.moldura-modal {
    border: 1px solid #ccc !important;
}

/*INPUTS*/
.form-control {
    font-size: 12px
}

/*PONTEIRO*/
.pointer {
    cursor: pointer;
}

/*TABLES*/
td {
    vertical-align: middle !important;
}

/*BOTOES*/
.btn-theme {
    background-color: #3a210d;
    border-color: #3a210d;
    color: #FFFFFF;
}

    .btn-theme:hover,
    .btn-theme:focus,
    .btn-theme:active,
    .btn-theme.active,
    .open .dropdown-toggle.btn-theme,
    .btn-theme:active:focus,
    .btn-theme:active:hover,
    .btn-theme.active:hover,
    .btn-theme.active:focus {
        background-color: #25160b;
        border-color: #25160b;
        color: #FFFFFF;
    }

    .btn-theme:active,
    .btn-theme.active,
    .open .dropdown-toggle.btn-theme {
        background-image: none;
    }

        .btn-theme.disabled,
        .btn-theme.disabled:hover,
        .btn-theme.disabled:focus,
        .btn-theme.disabled:active,
        .btn-theme.disabled.active,
        .btn-theme[disabled],
        .btn-theme[disabled]:hover,
        .btn-theme[disabled]:focus,
        .btn-theme[disabled]:active,
        .btn-theme.active[disabled],
        fieldset[disabled] .btn-theme,
        fieldset[disabled] .btn-theme:hover,
        fieldset[disabled] .btn-theme:focus,
        fieldset[disabled] .btn-theme:active,
        fieldset[disabled] .btn-theme.active {
            background-color: #25160b;
            border-color: #25160b;
        }



.fa-male {
    color: #0095ff !important;
}

.male {
    background-color: #0095ff !important;
    color: #FFF !important;
}

.fa-female {
    color: #ff00d4 !important;
}

.female {
    background-color: #ff00d4 !important;
    color: #FFF !important;
}

.width100 {
    width: 100%;
}

.d-none {
    display: none;
}

.has-badge[data-count]:after {
    position: absolute;
    left: 60%;
    top: 45%;
    content: attr(data-count);
    font-size: 38%;
    padding: .6em;
    border-radius: 99px;
    line-height: .75em;
    color: white;
    background: rgba(255,0,0,.85);
    text-align: center;
    min-width: 2em;
    font-weight: bold;
}

.panel-msg {
    height: 140px;
    display: flex;
}

    .panel-msg .checkbox {
        margin-left: -20px;
    }

.panel-total {
    height: 100px
}

.refresh-panel {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 500;
}

#imageToCrop {
    display: block;
    /* This rule is very important, please don't ignore this */
    max-width: 100%;
}

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

    .spinner > div {
        height: 100%;
        width: 6px;
        display: inline-block;
        -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
        animation: sk-stretchdelay 1.2s infinite ease-in-out;
    }

    .spinner .rect2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
    }

    .spinner .rect3 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }

    .spinner .rect4 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }

    .spinner .rect5 {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
    }

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }

    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

.menu-disabled {
    pointer-events: none;
    opacity:0.6;
}
