<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home/Index">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">Configurações</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox">
        <div class="ibox-title" style="display: flex;justify-content: space-between;">
            <h4>@ViewBag.Title</h4>
            <div class="ibox-tools pull-right">
                <button class="btn btn-default" id="btn_Adicionar" onclick="EditIgreja(0)">Adicionar</button>
            </div>
        </div>
        <div class="ibox-content">
            <table id="table-igreja" class="table table-striped table-bordered table-hover" cellspacing="0" style="width: 100%">
                <thead>
                    <tr>
                        <th>Igreja</th>
                        <th>Ações</th>  
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal inmodal" id="modal-igreja" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-body">
                <div class="moldura-modal p-h-xs" id="form-igreja">
                    <div class="row p-h-xs">
                        <input type="hidden" id="igreja-id"/>
                        <div class="col-sm-6 p-w-md text-center">
                            <h5>Igreja</h5>

                            <input type="text" class="form-control required" id="igreja-nome" data-field="Igreja" />
                        </div>                       
                    </div>
                </div>             

                <div class="modal-footer">
                    <button type="button" class="btn btn-white pull-right m-l-sm" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-white pull-right" onclick="PostIgreja()">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {   
    
}

@section Scripts {
    

    <script>
        function CarregarTabelaIgreja() {
            const tableIgrejaConfig = {
                language: languageConfig,
                lengthMenu: [200, 500, 1000],
                colReorder: false,
                serverSide: false,
                deferloading: 0,
                orderCellsTop: true,
                fixedHeader: true,
                filter: true,
                orderMulti: false,
                responsive: true, stateSave: true, stateSaveCallback: stateSaveCallback, stateLoadCallback: stateLoadCallback,
                destroy: true,
                dom: domConfig,
                buttons: getButtonsConfig('Igrejas'),
                columns: [
                    { data: "Nome", name: "Nome", autoWidth: true },
                    {
                        data: "Id", name: "Id", orderable: false, width: "10%",
                        "render": function (data, type, row) {
                            return `${GetButton('EditIgreja', data, 'blue', 'fa-edit', 'Editar')}                            
                            ${GetButton('DeleteIgreja', data, 'red', 'fa-trash', 'Excluir')}`;
                        }
                    }
                ],
                order: [
                    [0, "asc"]
                ],
                ajax: {
                    url: '/Igreja/GetIgrejas',
                    datatype: "json",
                    type: "POST"
                }
            };

            $("#table-igreja").DataTable(tableIgrejaConfig);
        }

        function GetIgreja(id) {
            if (id > 0) {
                $.ajax({
                    url: "/Igreja/GetIgrejaById/",
                    data: { Id: id },
                    datatype: "json",
                    type: "GET",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        $("#igreja-id").val(data.Igreja.Id);
                        $("#igreja-nome").val(data.Igreja.Nome);
                    }
                });
            }
            else {
                $("#igreja-id").val(0);
                $("#igreja-nome").val("");
            }
        }

        function EditIgreja(id) {
            GetIgreja(id);
            $("#modal-igreja").modal();
        }

        function DeleteIgreja(id) {
            ConfirmMessageDelete().then((result) => {
                if (result) {
                    $.ajax({
                        url: "/Igreja/DeleteIgreja/",
                        datatype: "json",
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(
                            {
                                Id: id
                            }),
                        success: function () {
                            SuccessMesageDelete();
                            CarregarTabelaIgreja();
                        }
                    });
                }
            });
        }

        function PostIgreja() {
            if (ValidateForm(`#form-igreja`)) {
                $.ajax({
                    url: "/Igreja/PostIgreja/",
                    datatype: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(
                        {
                            Id: $("#igreja-id").val(),
                            Nome: $("#igreja-nome").val(),
                        }),
                    success: function () {
                        SuccessMesageOperation();
                        CarregarTabelaIgreja();
                        $("#modal-igreja").modal("hide");
                    }
                });
            }
        }

        $(document).ready(function () {
            CarregarTabelaIgreja();
        });

    </script>
}
