

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox">

        <div class="ibox-content">
            <h1>Nada para ver aqui!</h1>
            <span>Você não tem os acessos necessários para visualizar essa página</span>
        </div>
    </div>
</div>
