<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home/Index">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">Configurações</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight wrapper-config">

</div>


@section Styles {
    <style>
        span .inputFile {
            width: 100%;
        }
    </style>
}

@section Scripts {

    <script>

        function PostConfig(id, tipoEvento) {
            console.log(id);
            console.log($(`#config-titulo${id}`).val());
            if (ValidateForm(`#form-config`)) {
                $.ajax({
                    url: "/Configuracao/PostConfiguracao/",
                    datatype: "json",
                    type: "POST",
                    contentType: `application/json; charset=utf-8`,
                    data: JSON.stringify(
                        {
                            Id: id,
                            Titulo: $(`#config-titulo${tipoEvento}`).val(),
                            CorHoverBotao: $(`#config-corhoverbotao${tipoEvento}`).val(),
                            CorBotao: $(`#config-corbotao${tipoEvento}`).val(),
                            CorLoginBox: $(`#config-corloginbox${tipoEvento}`).val(),
                            CorScroll: $(`#config-corscroll${tipoEvento}`).val(),
                            CorHoverScroll: $(`#config-corhoverscroll${tipoEvento}`).val(),
                        }),
                    success: function () {
                        SuccessMesageOperation()
                        carregarConfiguracoes()
                    }
                });

                $.ajax({
                    url: "/Configuracao/PostCampos/",
                    datatype: "json",
                    type: "POST",
                    contentType: `application/json; charset=utf-8`,
                    data: JSON.stringify(
                        {
                            Id: id,
                            campos: $(`#config-campos`).val().map(campo => { return { CampoId: campo } })

                        }),
                    success: function () {
                        SuccessMesageOperation()
                        carregarConfiguracoes()
                    }
                });
            }
        }

        function carregarConfiguracoes() {
            $.ajax({
                url: "/Configuracao/GetCamposEnum/",
                datatype: "json",
                type: "GET",
                contentType: `application/json; charset=utf-8`,
                success: function (data) {
                    campos = data.Campos


                    $.ajax({
                        url: "/Configuracao/GetConfiguracoes/",
                        datatype: "json",
                        type: "GET",
                        contentType: `application/json; charset=utf-8`,
                        success: function (data) {
                            html = ``

                            data.data.forEach(config => {
                                html += `<div class="ibox">
                        <div class="ibox-title" style="display: flex;justify-content: space-between;">
                            <h4>${config.TipoEvento}</h4>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row p-h-xs" id="form-config">
                                <div class="col-sm-12 p-w-md m-t-md text-center">
                                    <h5>Título</h5>

                                    <input type="text" class="form-control required" id="config-titulo${config.TiposEventoId}" data-field="Título" />
                                </div>

                                <div class="col-sm-6 p-w-md m-t-md text-center">
                                    <h5>Cor Botão</h5>

                                    <input type="color" style="padding:0" class="form-control" id="config-corbotao${config.TiposEventoId}" name="color" pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" value="#bada55" data-field="Cor Botão">
                                </div>

                                <div class="col-sm-6 p-w-md m-t-md text-center">
                                    <h5>Cor Hover Botão</h5>

                                    <input type="color" style="padding:0" class="form-control" id="config-corhoverbotao${config.TiposEventoId}" name="color" pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" value="#bada55" data-field="Cor Hover Botão">
                                </div>

                                <div class="col-sm-6 p-w-md m-t-md text-center">
                                    <h5>Cor Scroll</h5>

                                    <input type="color" opacity style="padding:0" class="form-control" id="config-corscroll${config.TiposEventoId}" name="color" pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" value="#bada55" data-field="Cor Scroll">
                                </div>

                                <div class="col-sm-6 p-w-md m-t-md text-center">
                                    <h5>Cor Hover Scroll</h5>

                                    <input type="color" opacity style="padding:0" class="form-control" id="config-corhoverscroll${config.TiposEventoId}" name="color" pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" value="#bada55" data-field="Cor Hover Scroll">
                                </div>

                                <div class="col-sm-6 p-w-md m-t-md text-center">
                                    <h5>Cor Login Box</h5>

                                    <input type="color" opacity style="padding:0" class="form-control" id="config-corloginbox${config.TiposEventoId}" name="color" pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" value="#bada55" data-field="Cor Login Box">
                                </div>

                                <div class="col-sm-6 p-w-md m-t-md text-center">
                                    <h5>Campos</h5>

                                    <select class="form-control config-campos" id="config-campos${config.TiposEventoId}" multiple="multiple" style="width: 100%" data-field="Campos">
                                    </select>
                                </div>



                                <div class="col-sm-6 p-w-md m-t-md text-center">
                                    <h5>Logo</h5>
                                    <img id="img-logo${config.TiposEventoId}" style="width:20%;margin:auto" src="" class="m-auto" />
                                    <form enctype="multipart/form-data" id="frm-logo${config.TiposEventoId}" method="post" novalidate="novalidate">
                                        <label for="logo${config.TiposEventoId}" class="inputFile">
                                            <span id="add-logo${config.TiposEventoId}" class="btn btn-default inputFile m-md" style="width: 100%;" aria-hidden="true"><i class="fas fa-upload m-xs"></i> Escolher Arquivo</span>
                                            <input accept="image/*" onchange='Logo(${config.TiposEventoId},${config.Id})' style="display: none;" class="custom-file-input inputFile" id="logo${config.TiposEventoId}" name="logo${config.TiposEventoId}" type="file" value="">
                                        </label>
                                    </form>
                                </div>

                                <div class="col-sm-6 p-w-md m-t-md text-center">
                                    <h5>Logo Relatórios</h5>
                                    <img id="img-logorelatorio${config.TiposEventoId}" style="width:20%;margin:auto" src="" class="m-auto" />
                                    <form enctype="multipart/form-data" id="frm-logorelatorio${config.TiposEventoId}" method="post" novalidate="novalidate">
                                        <label for="logorelatorio${config.TiposEventoId}" class="inputFile">
                                            <span id="add-logorelatorio${config.TiposEventoId}" class="btn btn-default inputFile m-md" style="width: 100%;" aria-hidden="true"><i class="fas fa-upload m-xs"></i> Escolher Arquivo</span>
                                            <input accept="image/*" onchange='LogoRelatorio(${config.TiposEventoId},${config.Id})' style="display: none;" class="custom-file-input inputFile" id="logorelatorio${config.TiposEventoId}" name="logorelatorio${config.TiposEventoId}" type="file" value="">
                                        </label>
                                    </form>
                                </div>

                                <div class="col-sm-6 p-w-md m-t-md text-center">
                                    <h5>Background</h5>
                                    <img id="img-background${config.TiposEventoId}" style="width:50%;margin:auto" src="" class="m-auto" />
                                    <form enctype="multipart/form-data" id="frm-background${config.TiposEventoId}" method="post" novalidate="novalidate">
                                        <label for="background${config.TiposEventoId}" class="inputFile">
                                            <span id="add-background${config.TiposEventoId}" class="btn btn-default inputFile m-md" style="width: 100%;" aria-hidden="true"><i class="fas fa-upload m-xs"></i> Escolher Arquivo</span>
                                            <input accept="image/*" onchange='Background(${config.TiposEventoId},${config.Id})' style="display: none;" class="custom-file-input inputFile" id="background${config.TiposEventoId}" name="background${config.TiposEventoId}" type="file" value="">
                                        </label>
                                    </form>
                                </div>

                                <div class="col-sm-6 p-w-md m-t-md text-center">
                                    <h5>Background Celular</h5>
                                    <img id="img-backgroundcelular${config.TiposEventoId}" style="width:50%;margin:auto" src="" class="m-auto" />
                                    <form enctype="multipart/form-data" id="frm-backgroundcelular${config.TiposEventoId}" method="post" novalidate="novalidate">
                                        <label for="backgroundcelular${config.TiposEventoId}" class="inputFile">
                                            <span id="add-backgroundcelular${config.TiposEventoId}" class="btn btn-default inputFile m-md" style="width: 100%;" aria-hidden="true"><i class="fas fa-upload m-xs"></i> Escolher Arquivo</span>
                                            <input accept="image/*" onchange='BackgroundCelular(${config.TiposEventoId},${config.Id})' style="display: none;" class="custom-file-input inputFile" id="backgroundcelular${config.TiposEventoId}" name="backgroundcelular${config.TiposEventoId}" type="file" value="">
                                        </label>
                                    </form>
                                </div>

                                <div class="col-sm-12 p-w-md m-t-md text-center">
                                    <button type="button" class="btn btn-primary" onclick="PostConfig(${config.Id},${config.TiposEventoId})">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </div>`


                            })


                            $(`.wrapper-config`).html(html)

                            $(".config-campos").html(`
${campos.map(p => `<option value=${p.Id}>${p.Description}</option>`)}
`)
                            $(`.config-campos`).select2();
                            data.data.forEach(config => {
                                $(`#config-titulo${config.TiposEventoId}`).val(config.Titulo)
                                $(`#config-corhoverbotao${config.TiposEventoId}`).val(config.CorHoverBotao)
                                $(`#config-corbotao${config.TiposEventoId}`).val(config.CorBotao)
                                $(`#config-corloginbox${config.TiposEventoId}`).val(config.CorLoginBox)
                                $(`#config-corscroll${config.TiposEventoId}`).val(config.CorScroll)
                                $(`#config-corhoverscroll${config.TiposEventoId}`).val(config.CorHoverScroll)
                                if (config.LogoId) {
                                    $(`#img-logo${config.TiposEventoId}`).css(`display`, `block`)
                                    $(`#img-logo${config.TiposEventoId}`).attr("src", `data:image/jpeg;base64,` + config.Logo)
                                } else {
                                    $(`#img-logo${config.TiposEventoId}`).css(`display`, `none`)
                                }

                                if (config.BackgroundId) {
                                    $(`#img-background${config.TiposEventoId}`).css(`display`, `block`)
                                    $(`#img-background${config.TiposEventoId}`).attr("src", `data:image/jpeg;base64,` + config.Background)
                                } else {
                                    $(`#img-background${config.TiposEventoId}`).css(`display`, `none`)
                                }

                                if (config.LogoRelatorioId) {
                                    $(`#img-logorelatorio${config.TiposEventoId}`).css(`display`, `block`)
                                    $(`#img-logorelatorio${config.TiposEventoId}`).attr("src", `data:image/jpeg;base64,` + config.LogoRelatorio)
                                } else {
                                    $(`#img-logorelatorio${config.TiposEventoId}`).css(`display`, `none`)
                                }

                                if (config.BackgroundCelularId) {
                                    $(`#img-backgroundcelular${config.TiposEventoId}`).css(`display`, `block`)
                                    $(`#img-backgroundcelular${config.TiposEventoId}`).attr("src", `data:image/jpeg;base64,` + config.BackgroundCelular)
                                } else {
                                    $(`#img-backgroundcelular${config.TiposEventoId}`).css(`display`, `none`)
                                }

                                $.ajax({
                                    url: "/Configuracao/GetCampos/",
                                    data: {
                                        id: config.Id
                                    },
                                    datatype: "json",
                                    type: "GET",
                                    contentType: `application/json; charset=utf-8`,
                                    success: function (data) {
                                        campos = data.Campos
                                        $(`#config-campos${config.TiposEventoId}`).val(campos.map(campo => campo.CampoId));
                                        $(`#config-campos${config.TiposEventoId}`).select2();
                                    }
                                });
                            })

                            carregarChevron()

                        }
                    });
                }
            });


        }

        $(document).ready(function () {
            carregarConfiguracoes()
        })

        function postArquivo(tipo, id, idConfig) {
            var dataToPost = new FormData($(`#frm-${tipo.toLowerCase()}${id}`)[0]);
            var filename = dataToPost.get(`${tipo.toLowerCase()}${id}`).name
            var arquivo = new File([dataToPost.get(`${tipo.toLowerCase()}${id}`)], tipo + ` Sistema` + filename.substr(filename.indexOf(`.`)));
            dataToPost.set(`Arquivo`, arquivo)
            $.ajax(
                {
                    processData: false,
                    contentType: false,
                    type: "POST",
                    data: dataToPost,
                    url: "Arquivo/PostArquivo",
                    success: function (data) {
                        $.ajax(
                            {
                                datatype: "json",
                                type: "POST",
                                contentType: `application/json; charset=utf-8`,
                                url: `Configuracao/Post${tipo}`,
                                data: `{ Id: ${idConfig}, sourceId: ${data}
                                            }`,
                                success: function () {
                                    carregarConfiguracoes()
                                }
                            });
                    }
                });
        }

        function Logo(id, idConfig) {
            postArquivo(`Logo`, id, idConfig )
        }

        function Background(id) {
            postArquivo(`Background`, id, idConfig)
        }

        function LogoRelatorio(id) {
            postArquivo(`logorelatorio`, id, idConfig)
        }

        function BackgroundCelular(id) {
            postArquivo(`backgroundcelular`, id, idConfig)
        }
    </script>
}
