<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home/Index">Home</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox">
        <div class="ibox-title" style="display: flex;justify-content: space-between;">
            <h4>@ViewBag.Title</h4>
            <div class="ibox-tools pull-right">
                @Html.Partial("~/Views/Componentes/SelectEvento.cshtml", new SysIgreja.ViewModels.SelectViewModel { Id = "quarto-eventoid", OnChange = "CarregarTabelaQuarto", Roles = "Financeiro,Administrativo,Admin" })
                <button class="btn btn-danger" id="btn_Adicionar" onclick="EsvaziarTodosQuarto()">Esvaziar</button>
                <button class="btn btn-primary" id="btn_Adicionar" onclick="DistribuirQuartos()">Distribuir</button>
                <button class="btn btn-default" id="btn_Adicionar" onclick="EditQuarto(0)">Adicionar</button>
                <button class="btn btn-default" id="btn_Adicionar" onclick="PrintAll()">Imprimir Tudo</button>
            </div>
        </div>
        <div class="ibox-content">
            <table id="table-quarto" class="table table-striped table-bordered table-hover" cellspacing="0" style="width: 100%">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Tipo</th>
                        <th id="col-chave">Participantes</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="ibox quarto-endereco" style="margin-top: 25px; display: none">
            <div class="ibox-title" style="display: flex;justify-content: space-between;">
                <h4>Mapa</h4>

            </div>
            <div class="ibox-content" style="height:650px">

                <div class="col-sm-12 p-w-md m-t-md text-center div-map-geral">
                    <div id="map-geral" style="height:600px;">
                    </div>
                </div>

            </div>
        </div>
        <div class="ibox">
            <div class="ibox-title" style="display: flex;justify-content: space-between;">
                <h4>Gerenciar Quartos</h4>
            </div>
            <div class="ibox-content">
                <div class="row p-m">
                    <div id="list" class="col-xs-12 col-lg-3 sem-quarto quarto droppable text-center">
                  
                    </div>
                    <div class="col-xs-12 col-lg-9">
                            <div id="quartos"  class="draggable-panel-container">

                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="modal-quarto" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <h5 class="modal-title titulo-quarto"></h5>
            </div>
            <div class="modal-body">
                <div class="moldura-modal p-h-xs">
                    <div class="row p-h-xs">
                        <input type="hidden" id="quarto-id" />
                        <div class="col-sm-6 p-w-md m-b-sm text-center">
                            <h5>Título</h5>
                            <input type="text" class="form-control required" id="quarto-titulo" data-field="Título" />
                        </div>
                        <div class="col-sm-6 p-w-md text-center">
                            <h5>Capacidade</h5>

                            <input type="number" class="form-control required" id="quarto-capacidade" data-field="Capacidade" />
                        </div>
                        <div class="col-sm-12 p-w-md m-t-md text-center">
                            <h5>Sexo</h5>

                            <div class="radio i-checks-green inline"><label> <input type="radio" id="quarto-sexo" checked="" value="1" name="quarto-sexo"> <i></i> Masculino </label></div>
                            <div class="radio i-checks-green inline"><label> <input type="radio" id="quarto-sexo" value="2" name="quarto-sexo"> <i></i> Feminino </label></div>
                            <div class="radio i-checks-green inline"><label> <input type="radio" id="quarto-sexo" value="3" name="quarto-sexo"> <i></i> Misto </label></div>
                        </div>
                        <section class="quarto-endereco">
                            <div class="col-sm-3 p-w-md m-t-md text-center">
                                <h5>CEP</h5>

                                <input type="text" class="form-control required cep" id="quarto-cep" data-field="CEP" onkeyup="verificaCep(this)" />
                                <input type="hidden" id="quarto-latitude" />
                                <input type="hidden" id="quarto-longitude" />
                            </div>

                            <div class="col-sm-9 p-w-md m-t-md text-center">
                                <h5>Logradouro</h5>

                                <input type="text" class="form-control required" disabled id="quarto-logradouro" data-field="Logradouro" />
                            </div>

                            <div class="col-sm-5 p-w-md m-t-md text-center">
                                <h5>Bairro</h5>

                                <input type="text" class="form-control required" disabled id="quarto-bairro" data-field="Bairro" />
                            </div>

                            <div class="col-sm-5 p-w-md m-t-md text-center">
                                <h5>
                                    Cidade
                                </h5>

                                <input type="text" class="form-control required" disabled id="quarto-cidade" data-field="Cidade" />
                            </div>

                            <div class="col-sm-2 p-w-md m-t-md text-center">
                                <h5>
                                    Estado
                                </h5>

                                <input type="text" class="form-control required" disabled id="quarto-estado" data-field="Estado" />
                            </div>

                            <div class="col-sm-4 p-w-md m-t-md text-center">
                                <h5>
                                    Número
                                </h5>

                                <input type="text" class="form-control" id="quarto-numero" data-field="Número" />
                            </div>


                            <div class="col-sm-8 p-w-md m-t-md text-center">
                                <h5>
                                    Complemento
                                </h5>

                                <input type="text" class="form-control" id="quarto-complemento" data-field="Complemento" />
                            </div>


                            <div class="col-sm-12 p-w-md m-t-md text-center">
                                <h5>
                                    Ponto de Referência
                                </h5>

                                <input type="text" class="form-control" id="quarto-referencia" data-field="Ponto de Referência" />
                            </div>

                            <div class="col-sm-12 p-w-md m-t-md text-center div-map" style="display: none">
                                <div id="map" style="height:300px;">
                                </div>
                            </div>


                        </section>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white pull-right m-l-sm" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-white pull-right" onclick="PostQuartoEquipe()">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <style>
    </style>
}

@section Scripts {

    <script src="~/Scripts/app/Quarto/quarto.js"></script>
    <script type="text/babel" src="~/Scripts/app/Componentes/DraggablePanel.jsx"></script>
    <script type="text/babel" src="~/Scripts/app/Componentes/FilterableList.jsx"></script>

    <script>

    </script>
}
